/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@300&display=swap');

*{
    outline: red solid 1px;
}

/*Color styling*/
:root{
    --color-one: 38, 41, 43;
    --color-two: 46, 50, 57;
    --color-three: 95, 122, 219;
    --color-four: 162, 178, 238;
}

/*Font styling*/
.charleston-green{
    color: rgb(var(--color-one));
}

.ford-green{
    color: rgb(var(--color-two));
}

.medium-blue{
    color: rgb(var(--color-three));
}

.light-blue{
    color: rgb(var(--color-four));
}

body{
    color:#fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #fff;
    font-family: lexend, sans-serif;
    min-height: 100vh;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
}

header h1 {
  margin-bottom: 0;
}

header span {
  color: rgb(var(--color-one));
  font-family: 'Prompt', arial, sans-serif;
  margin: 0;
}

/*Generic styling for code*/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-weight {
  font-weight: bold;
}

.text-transform {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.rounded-border {
  border-radius: 10px;
}

.padding {
  padding: 0.5em;
}

.margin {
  margin: 0.5em;
}

.margin-zero {
  margin: 0;
}

.width {
  width: 100vw;
}

.max-width {
  max-width: 650px;
}