/*Color styling*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --color-one: 38, 41, 43;
    --color-two: 46, 50, 57;
    --color-three: 95, 122, 219;
    --color-four: 162, 178, 238;
}


/*Font styling*/
.charleston-green{
    color: rgb(var(--color-one));
}

.ford-green{
    color: rgb(var(--color-two));
}

.medium-blue{
    color: rgb(var(--color-three));
}

.light-blue{
    color: rgb(var(--color-four));
}